file_collaborate.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) by vitali (home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bc="http://datamodel.nces.by/by-core/0.1" targetNamespace="http://datamodel.nces.by/by-core/0.1">
	<xs:annotation>
		<xs:documentation>Базовая модель данных ЭП.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AddressCategoryType">
		<xs:annotation>
			<xs:documentation>Тип адреса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOCATION"/>
			<xs:enumeration value="MAILING"/>
			<xs:enumeration value="REGISTRATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Описание адреса (адресная информация)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressApartment" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Квартира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressBuilding" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Строение/корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCityName" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressHouse" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressPrivateMailbox" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressStreet" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCountry" type="bc:CountryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Страна</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>Описание страны в соответствии с ISO-</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Alpha2" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alpha 2 код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование страны</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentCategoryType">
		<xs:annotation>
			<xs:documentation>Виды документов удостоверяющих личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentCategoryName" type="bc:TextType" form="qualified" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование вида документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationLevelType">
		<xs:annotation>
			<xs:documentation>Уровни полученного образования</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationLevelCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код уровня образования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationLevelDescription" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание уровня образования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationType">
		<xs:annotation>
			<xs:documentation>Образование</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bc:EducationLevelType">
				<xs:sequence>
					<xs:element name="EducationDescriptionText" type="bc:TextType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Нименование учебного заведения, в котором получено образование</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HiTechGoodsCandidateType">
		<xs:annotation>
			<xs:documentation>Таблица сведений для оценки товаров (работ, услуг) установленным показателям.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyAddedValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Объем валовой добавленной стоимости организации за год, предшествующий году подачи заявления (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyOutputValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Стоимостной объем производства продукции (товаров, работ, услуг) организации за год, предшествующий году подачи заявления (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyRAndDValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Объем расходов на научно-исследовательские, опытно-конструкторские, опытно-технологические работы организации за год, предшествующий году подачи заявления (далее – НИОКТР), включая НИОКТР, выполненные собственными силами и по договорам со сторонними организациями (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedHiTechExportValue" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>на экспорт товаров (работ, услуг), претендующих на отнесение к высокотехнологичным из объема отгруженной продукции в целом по организации за год, предшествующий году подачи заявления (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedHiTechValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>товаров (работ, услуг), претендующих на отнесение к высокотехнологичным из объема отгруженной продукции в целом по организации за год, предшествующий году подачи заявления (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Объем отгруженной продукции в целом по организации за год, предшествующий году подачи заявления (без НДС), тысяч рублей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsName" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование товара (работы, услуги)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsOKEDCode" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код общегосударственного классификатора Республики Беларусь ОКРБ 007-2012 «Классификатор продукции по видам экономической деятельности»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatentDescription" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наличие охранного документа на объект права промышленной собственности, который применен (содержится, включен) в товаре (работе, услуге), претендующем на отнесение к высокотехнологичному</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationType">
		<xs:annotation>
			<xs:documentation>Справочник видов идентификаторов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationDescriptionText" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание вида идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationTypeID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификатор вида классификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonAddressAssociationType">
		<xs:annotation>
			<xs:documentation>Адреса, связанные с физическим лицом</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressCategory" type="bc:AddressCategoryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Вид адреса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="bc:AddressType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Person" type="bc:PersonType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Данные о физическом лице</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonDocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonalDocumentAuthority" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Орган, выдавший документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalDocumentExpireDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата завершения срока действительности документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalDocumentIssueDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentNumber" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentSeries" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Серийный номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentCategory" type="bc:DocumentCategoryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Вид документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentNumberCategory" type="bc:IdentificationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание номера докумената, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameTextType">
		<xs:annotation>
			<xs:documentation>Тип составляющей имени физического лица (фамилия,имя, отчество)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bc:TextType">
				<xs:attribute name="personNameInitialIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Признак инициала в реквизите</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>Описание полного имени физического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonGivenName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Имя собственное</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonSurName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalSurName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия (беларусский язык)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalMiddleName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Отчетсво (на белорусском языке)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalGivenName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Собственное имя (на белорусском)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>Тип данных базового представления строк</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>