file_collaborate.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) by vitali (home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bc="http://datamodel.nces.by/by-core/0.1" targetNamespace="http://datamodel.nces.by/by-core/0.1">
	<xs:annotation>
		<xs:documentation>Áàçîâàÿ ìîäåëü äàííûõ ÝÏ.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AddressCategoryType">
		<xs:annotation>
			<xs:documentation>Òèï àäðåñà</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOCATION"/>
			<xs:enumeration value="MAILING"/>
			<xs:enumeration value="REGISTRATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Îïèñàíèå àäðåñà (àäðåñíàÿ èíôîðìàöèÿ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressApartment" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Êâàðòèðà</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressBuilding" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ñòðîåíèå/êîðïóñ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCityName" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ãîðîä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressHouse" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Äîì</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressPrivateMailbox" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ïî÷òîâûé èíäåêñ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressStreet" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Óëèöà</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCountry" type="bc:CountryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ñòðàíà</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>Îïèñàíèå ñòðàíû â ñîîòâåòñòâèè ñ ISO-</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Alpha2" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alpha 2 êîä ñòðàíû</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Íàèìåíîâàíèå ñòðàíû</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentCategoryType">
		<xs:annotation>
			<xs:documentation>Âèäû äîêóìåíòîâ óäîñòîâåðÿþùèõ ëè÷íîñòü</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentCategoryName" type="bc:TextType" form="qualified" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Íàèìåíîâàíèå âèäà äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationLevelType">
		<xs:annotation>
			<xs:documentation>Óðîâíè ïîëó÷åííîãî îáðàçîâàíèÿ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationLevelCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Êîä óðîâíÿ îáðàçîâàíèÿ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationLevelDescription" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îïèñàíèå óðîâíÿ îáðàçîâàíèÿ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationType">
		<xs:annotation>
			<xs:documentation>Îáðàçîâàíèå</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bc:EducationLevelType">
				<xs:sequence>
					<xs:element name="EducationDescriptionText" type="bc:TextType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Íèìåíîâàíèå ó÷åáíîãî çàâåäåíèÿ, â êîòîðîì ïîëó÷åíî îáðàçîâàíèå</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HiTechGoodsCandidateType">
		<xs:annotation>
			<xs:documentation>Òàáëèöà ñâåäåíèé äëÿ îöåíêè òîâàðîâ (ðàáîò, óñëóã) óñòàíîâëåííûì ïîêàçàòåëÿì.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyAddedValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îáúåì âàëîâîé äîáàâëåííîé ñòîèìîñòè îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyOutputValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ñòîèìîñòíîé îáúåì ïðîèçâîäñòâà ïðîäóêöèè (òîâàðîâ, ðàáîò, óñëóã) îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyRAndDValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îáúåì ðàñõîäîâ íà íàó÷íî-èññëåäîâàòåëüñêèå, îïûòíî-êîíñòðóêòîðñêèå, îïûòíî-òåõíîëîãè÷åñêèå ðàáîòû îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (äàëåå – ÍÈÎÊÒÐ), âêëþ÷àÿ ÍÈÎÊÒÐ, âûïîëíåííûå ñîáñòâåííûìè ñèëàìè è ïî äîãîâîðàì ñî ñòîðîííèìè îðãàíèçàöèÿìè (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedHiTechExportValue" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>íà ýêñïîðò òîâàðîâ (ðàáîò, óñëóã), ïðåòåíäóþùèõ íà îòíåñåíèå ê âûñîêîòåõíîëîãè÷íûì èç îáúåìà îòãðóæåííîé ïðîäóêöèè â öåëîì ïî îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedHiTechValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>òîâàðîâ (ðàáîò, óñëóã), ïðåòåíäóþùèõ íà îòíåñåíèå ê âûñîêîòåõíîëîãè÷íûì èç îáúåìà îòãðóæåííîé ïðîäóêöèè â öåëîì ïî îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyShippedValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îáúåì îòãðóæåííîé ïðîäóêöèè â öåëîì ïî îðãàíèçàöèè çà ãîä, ïðåäøåñòâóþùèé ãîäó ïîäà÷è çàÿâëåíèÿ (áåç ÍÄÑ), òûñÿ÷ ðóáëåé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsName" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Íàèìåíîâàíèå òîâàðà (ðàáîòû, óñëóãè)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsOKEDCode" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Êîä îáùåãîñóäàðñòâåííîãî êëàññèôèêàòîðà Ðåñïóáëèêè Áåëàðóñü ÎÊÐÁ 007-2012 «Êëàññèôèêàòîð ïðîäóêöèè ïî âèäàì ýêîíîìè÷åñêîé äåÿòåëüíîñòè»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatentDescription" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Íàëè÷èå îõðàííîãî äîêóìåíòà íà îáúåêò ïðàâà ïðîìûøëåííîé ñîáñòâåííîñòè, êîòîðûé ïðèìåíåí (ñîäåðæèòñÿ, âêëþ÷åí) â òîâàðå (ðàáîòå, óñëóãå), ïðåòåíäóþùåì íà îòíåñåíèå ê âûñîêîòåõíîëîãè÷íîìó</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationType">
		<xs:annotation>
			<xs:documentation>Ñïðàâî÷íèê âèäîâ èäåíòèôèêàòîðîâ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationDescriptionText" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îïèñàíèå âèäà èäåíòèôèêàöèè</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationTypeID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Èäåíòèôèêàòîð âèäà êëàññèôèêàöèè</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonAddressAssociationType">
		<xs:annotation>
			<xs:documentation>Àäðåñà, ñâÿçàííûå ñ ôèçè÷åñêèì ëèöîì</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressCategory" type="bc:AddressCategoryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Âèä àäðåñà</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="bc:AddressType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Àäðåñ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Person" type="bc:PersonType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Äàííûå î ôèçè÷åñêîì ëèöå</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonDocumentType">
		<xs:annotation>
			<xs:documentation>Äîêóìåíò, óäîñòîâåðÿþùèé ëè÷íîñòü</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonalDocumentAuthority" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îðãàí, âûäàâøèé äîêóìåíò, óäîñòîâåðÿþùèé ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalDocumentExpireDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Äàòà çàâåðøåíèÿ ñðîêà äåéñòâèòåëüíîñòè äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalDocumentIssueDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Äàòà âûäà÷è äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentNumber" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Íîìåð äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentSeries" type="bc:TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ñåðèéíûé íîìåð äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentCategory" type="bc:DocumentCategoryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Âèä äîêóìåíòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDocumentNumberCategory" type="bc:IdentificationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îïèñàíèå íîìåðà äîêóìåíàòà, óäîñòîâåðÿþùåãî ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameTextType">
		<xs:annotation>
			<xs:documentation>Òèï ñîñòàâëÿþùåé èìåíè ôèçè÷åñêîãî ëèöà (ôàìèëèÿ,èìÿ, îò÷åñòâî)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bc:TextType">
				<xs:attribute name="personNameInitialIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Ïðèçíàê èíèöèàëà â ðåêâèçèòå</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>Îïèñàíèå ïîëíîãî èìåíè ôèçè÷åñêîãî ëèöà</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonGivenName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Èìÿ ñîáñòâåííîå</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îò÷åñòâî</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonSurName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ôàìèëèÿ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalSurName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ôàìèëèÿ (áåëàðóññêèé ÿçûê)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalMiddleName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Îò÷åòñâî (íà áåëîðóññêîì ÿçûêå)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonNationalGivenName" type="bc:PersonNameTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ñîáñòâåííîå èìÿ (íà áåëîðóññêîì)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>Òèï äàííûõ áàçîâîãî ïðåäñòàâëåíèÿ ñòðîê</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Äàííûå î ôèçè÷åñêîì ëèöå</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonEducation" type="bc:EducationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Îáðàçîâàíèå ôèçè÷åñêîãî ëèöà</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalDocument" type="bc:PersonDocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Äîêóìåíòû, óäîñòîâåðÿþùèå ëè÷íîñòü</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="bc:PersonNameType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>Òèï äàííûõ áàçîâîãî ïðåäñòàâëåíèÿ ñòðîê</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TeacherType">
		<xs:annotation>
			<xs:documentation>Òèï äàííûõ îïèñàíèÿ ïðåïîäàâàòåëÿ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bc:PersonType">
				<xs:sequence>
					<xs:element name="SubjectName" type="xs:string" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ïåðå÷åíü ïðåäìåòîâ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>